// This file regroups all typo mixins.
// @author Lilian Thiebault

@import '../material/theme-variables';
@import '../variables/typography';

@mixin h1 {
    font-family: $title-typo;
    font-style: normal;
    font-weight: $fw-regular;
    font-size: $fs3;
    letter-spacing: normal;
}

@mixin h2 {
    font-family: $title-typo;
    font-style: normal;
    font-weight: $fw-bold;
    font-size: $fs2;
    letter-spacing: normal;
}

@mixin body($fw-param) {
    font-style: normal;
    font-weight: $fw-param;
    font-size: $fs1;
    letter-spacing: normal;
}

@mixin extract($fw-param) {
    font-style: normal;
    font-weight: $fw-param;
    font-size: $fs0;
    letter-spacing: normal;
}
