// This file regroups all layout variables.
// This includes spaces, text styles and more...
// @author Lilian Thiebault

// Spaces
$sp1: 8px;
$sp2: 16px;
$sp3: 24px;
$sp4: 32px;
$sp5: 40px;
$sp6: 48px;
$sp7: 56px;
$sp8: 64px;
$sp9: 72px;

// Border radius
$border-radius1: 4px;