// This file regroups all typography variables.
// @author Lilian Thiebault

// Title typography. The body typography is defined in the theme-variables
$title-typo: "Lora", Roboto, sans-serif;

// Font size
$fs0: 14px;
$fs1: 20px;
$fs2: 24px;

// Font weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
