// This file regroups all typography variables.
// @author Lilian Thiebault

// Title typography. The body typography is defined in the theme-variables
$title-typo: "Lora", Roboto, sans-serif;
$body-typo: "Google Sans Text Beta", Roboto, sans-serif;

// Font size
$fs0: 14px;
$fs1: 16px;
$fs2: 20px;
$fs3: 24px;
$fs4: 32px;

// Font weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Line height
$lh1: 24px;
$lh2: 30px;
$lh3: 40px;