$blog-primary-palette: (
    50 : #e3e5ec,
    100 : #b9bed1,
    200 : #8a93b2,
    300 : #5b6793,
    400 : #37477b,
    500 : #142664,
    600 : #12225c,
    700 : #0e1c52,
    800 : #0b1748,
    900 : #060d36,
    A100 : #6f7dff,
    A200 : #3c4fff,
    A400 : #0922ff,
    A700 : #0018ee,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$blog-accent-palette: (
    50 : #fdfaf7,
    100 : #fbf3eb,
    200 : #f8ebde,
    300 : #f5e2d1,
    400 : #f2dcc7,
    500 : #f0d6bd,
    600 : #eed1b7,
    700 : #ecccae,
    800 : #e9c6a6,
    900 : #e5bc98,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$blog-warn-palette: (
    50 : #f9e6e6,
    100 : #f0bfbf,
    200 : #e79595,
    300 : #dd6b6b,
    400 : #d54b4b,
    500 : #ce2b2b,
    600 : #c92626,
    700 : #c22020,
    800 : #bc1a1a,
    900 : #b01010,
    A100 : #ffe0e0,
    A200 : #ffadad,
    A400 : #ff7a7a,
    A700 : #ff6060,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$blog-on-palette: (
    on-primary: #ffffff,
    on-accent: rgba(0, 0, 0, 0.87),
    on-warn: #ffffff,
    on-background-high-emphasis: rgba(0, 0, 0, 0.87),
    on-background-medium-emphasis: rgba(0, 0, 0, 0.6),
);