@import 'variables/layout';
@import 'material/custom-palettes';

// Custom material components in all application
body {
    .mat-dialog-container {
        padding: $sp5;
    }

    .mat-button-base:not(.mat-fab) {
        padding: $sp1 $sp3;
    }

    .mat-card {
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto 1fr auto;
        border-radius: 0px;
        border: 1px solid mat-color($blog-accent-palette, 500);
        height: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}
