@import 'variables/layout';
@import 'mixins/typography';
@import 'material/custom-palettes';

.post {
    padding: 0 240px;

    .image-container {
        .image {
            width: 100%;
            height: auto;
        }
    
        &::after {
            display: block;
            content: '';
            width: 100%;
            height: 1px;
            background-color: map-get($map: $blog-accent-palette, $key: 500);
            margin-top: $sp2;
            margin-bottom: $sp4;
        }
    }

    .title {
        @include post-title;
    }

    .article {
        @include article;
        margin-top: $sp6;
    }

    .author {
        margin-top: $sp4;
    }
}